# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-26

    steps:
    - uses: actions/checkout@v3
    
    - name: Show eligible build destinations for StableID
      run: xcodebuild -showdestinations -scheme StableID

    - name: Build and test (ï£¿ macOS 26)
      run: xcodebuild test -scheme StableID -destination 'platform=macOS,arch=arm64'
